backend:
  name: github
  repo: ysmltr/yesimltr  # senin GitHub kullan覺c覺 ad覺n ve repo ad覺n
  branch: main

media_folder: "images/uploads"

collections:
  - name: "bookmarks"
    label: "Bookmarks"
    folder: "_data/bookmarks"
    create: true
    format: "json"
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "URL", name: "url", widget: "string"}
      - {label: "Date", name: "date", widget: "datetime"}